<!DOCTYPE html>
<html lang="en">
<head>
  <title>BOOKSTORE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      position: relative;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">BOOKSTORE</a>
    </div>
    <div class="container-fluid firstheader"></div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="/book">Books</a></li>
            <li><a href="/author">Authors</a></li>
        </ul>
      </div>
    </div>  
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    
    <div class="col-sm-6 text-left"> 
      <h1>Books Details</h1>
        <table class="table table-dark">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Delete</th>
            <th scope="col">
              <form action="/addBook">
                <button type="submit" class="btn btn-primary">Add </button>
              </form>
            </th>
            </tr>
        </thead>
        <tbody>
          <% data.forEach(book => { %>
            <tr>
            <td><%= book.title %></td>
            <td><%= book.author.name %></td>
            <td><%= book.price %></td>
            <td>
              <button type="submit" onclick="deleteBook ('<%= book._id %>')" class="btn btn-danger">Delete</button>
            </td>
            </tr>
           <% }) %> 
        </tbody>
</table>
    </div>
  </div>
</div>

<script>
  const deleteBook = function(id){
    let deleteUrl = 'http://localhost:3000/book/'+id;
    console.log(deleteUrl);
    $.ajax({
      url: deleteUrl,
      contentType: "application/json",
      dataType: 'json',
      type: "DELETE",
      success: function(result){
        window.location.href = result.request.url;
      }
    })
  }



</script>

</body>
</html>
